@charset "UTF-8";

#out_imgbox {
	border: 1px solid;
	height: 100%;
}

#in_imgbox {
	text-align:center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#input_img{
	border:0;
	width: 50%;
	size: 50;
}



