@charset "UTF-8";

table {
	width: 100%;
}
table, th, td {
	margin: 0 auto;
	border: 1px solid white;
	border-collapse: collapse;
	padding: 2px;
}

th {
	background-color: black;
	color: white;
	padding: 4px 2px 4px 2px;
}
.tablea tr:nth-child(2n){
	background-color: #dbdada;
}
.tablea tr:hover{
	background-color: orange;
}
.t_center {
	text-align: center;
}