<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clothHistoryMapper">
	
	<insert id="addclothhistory">
		insert into cloth_history (kind, clothid, userid, temp, humidity, dust) 
		select kind, #{clothid}, #{userid}, #{temp}, #{humidity}, #{dust}
		from cloth
		where clothid=#{clothid}
	</insert>
	<select id="getclothhistorylist" parameterType="map" resultType="clothhistoryvo">
		select * from cloth_history
		where clothid=#{clothid} and userid = #{userid} 
	</select>
	<select id="getclothhistorydate" parameterType="map" resultType="clothhistoryvo">

		select *
		from (
			select a.kind, a.CLOTHID, a.REGDATE, a.USERID, TEMP, HUMIDITY, DUST, b.imgpath, b.imgname
			from cloth_history a inner join cloth b on a.clothid = b.clothid			
						
			<where>
			a.userid = #{userid} 
			<if test="kind != null and kind != '' ">and a.kind = #{kind}</if>
			</where>			
			order by a.regdate desc
		) a
		<where>
			 <![CDATA[ rownum <= 4 ]]> 
		</where>
	
	</select>
	<delete id="removeclothhistory"> <!-- 완료 -->	
		delete from cloth_history where clothid = #{clothid}
	</delete>
	
</mapper>