<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clothMapper">


<insert id="addcloth"><!-- 완료 -->
		insert into cloth (clothid, userid, imgpath, imgname, season, kind, color) 
			values ((select nvl(max(clothid),0)+1 from cloth), #{userid},
			 #{imgpath}, #{imgname}, #{season}, #{kind}, #{color})
	</insert>
	
	<select id="recommendcloth" resultType="clothvo">
		select * from cloth 
		where userid = #{userid}
			and clothid not in (select clothid from cloth_history where regdate like (sysdate-1) )
			<if test="kind != null">and kind = #{kind}</if>
			<if test="season != null">and season like '%'||#{season}||'%'</if>
		<!-- <where>
			userid = #{userid}
			and clothid not in (select clothid from cloth_history where regdate >= sysdate-2 and regdate < sysdate-1 )
			<if test="kind != null">and kind = #{kind}</if>
			<if test="season != null">and season like '%'||#{season}||'%'</if>
			
		</where> -->
		
	
	</select>
	
	<select id="getclothes" resultType="clothvo"> <!-- 완료 -->
		select * from cloth 
		<where>
			userid = #{userid}
			<if test="kind != null">and kind = #{kind}</if>
			<if test="season != null">and season like '%'||#{season}||'%'</if>
		</where>
	</select>
	
	
	<select id="getclothid" resultType="clothvo"> <!-- 완료 -->
		select * from cloth where clothid = #{clothid}
	</select>

	<update id="updatecloth" parameterType="clothvo"> <!-- 완료 -->
		update cloth set imgpath = #{imgpath}, imgname = #{imgname},
			 season = #{season}, kind = #{kind}, color = #{color} where clothid = #{clothid}
	</update>
	
	<delete id="removecloth"> <!-- 완료 -->
		delete from cloth where clothid = #{clothid}
	</delete>
	
	<delete id="multiremovecloth" parameterType="map"> <!--  완료 -->
		delete from cloth where clothid in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
		 	#{item.clothid}
		 </foreach>
	</delete>
</mapper>